.filter {
    z-index: 100;
    position: absolute;
    bottom: -9rem;
    right: 6rem;
    transition: max-height, 0.2s linear;
}

.filter.filter-opened {
    bottom: 0rem;
    transition: max-height, 0.2s linear;
}

.alert-accordion-body.visible {
    max-height:194px;
    transition: max-height, 0.2s linear;
}

.filter-handle {
    background-color: #7FFF7F;
    cursor: pointer;
    height: 2.5rem;
    width: 12rem;
    margin-left: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: 2px solid #7FFF7F;
    border-width: 2px 2px 0 2px;
}

.filter-container {
    background-color: #f1f1f1;
    position: relative;
    height: 9rem;
    width: 50rem;
    border-top-left-radius: 1rem;
    border: 2px solid #7FFF7F;
    border-width: 2px 2px 0 2px;
    padding: 1rem;
}